body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    margin: 10px auto;
    color: #ffffff;
}
@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 20px;
    }   
}
h1 {
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #888;
}
.botoes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.botoes button {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}
.resultados {
    display: none; 
}